@model C19OfficeTracker.Models.DepartmentDetail

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Department Detail</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.DeptId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeptId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeptName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeptName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BuildingId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuildingId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BuildingName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuildingName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Room)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room)
        </dd>

    </dl>
    <hr />
    <h4>Employees in Department</h4>
    <hr />
    @if (Model.Employees.Count == 0)
    {
        <text><strong>There are ZERO Employees in this Department.</strong></text>
    }
    else
    {
        <ul>
            @foreach (var employee in Model.Employees)
            {
                <li><strong> @employee.FullName</strong></li>
            }
        </ul>
    }
    <hr />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
