@model C19OfficeTracker.Models.DepartmentDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DepartmentDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DeptId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeptId)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.DeptName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeptName)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.Building)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Building)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.Room)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room)
        </dd>
        <hr />
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DeptId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
