@model C19OfficeTracker.Models.TrackingDetail
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<hr />

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Tracking Detail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TrackingId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrackingId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmpId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrackDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrackDate)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.SymptomAnswer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SymptomAnswer)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.ContactAnswer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactAnswer)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.TempAnswer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TempAnswer)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.Temperature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Temperature)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.MaskAnswer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaskAnswer)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.GroupAnswer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupAnswer)
        </dd>
        <hr />
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>

