@model C19OfficeTracker.Models.TrackingDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TrackingDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TrackingId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrackingId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpId)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.TrackDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrackDate)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.SymptomAnswer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SymptomAnswer)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.ContactAnswer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactAnswer)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.TempAnswer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TempAnswer)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.Temperature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Temperature)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.MaskAnswer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaskAnswer)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.GroupAnswer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupAnswer)
        </dd>
        <hr />

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TrackingId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
