@model C19OfficeTracker.Models.EmployeeDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<hr/>

<div>
    <h4>Employee Detail</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeptId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeptId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeptName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeptName)
        </dd>

    </dl>
    <hr />
    <h4> Today's Tracking Data</h4>
    <hr />
    @if (Model.Tracking.Count == 0)
    {
        <text><strong>No tracking data in the system for today.</strong></text>
        <hr />
    }
    else
    {
<ul>
    @foreach (var tracking in Model.Tracking)
    {
        {
            <li><strong> @tracking.TrackDate</strong></li>
            <li><label>-------------------------------------------</label></li>
            <li><label>Symptoms of Covid19....</label><strong> @tracking.SymptomAnswer</strong></li>
            <li><label>-------------------------------------------</label></li>
            <li><label>Contact with Covid19...</label><strong> @tracking.ContactAnswer</strong></li>
            <li><label>-------------------------------------------</label></li>
            <li><label>Temperature today......</label><strong> @tracking.Temperature</strong></li>
        }
    }
</ul>
        <hr />
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmpId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
